.container {
    max-width: 600px;
}

.btn {
    isolation: isolate;
}

.text-danger {
    isolation: isolate;
}

.username {
    font-weight: bold;
}

.time {
    font-size: 0.7em;
    color: #999;
}
